[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "vendor/gmock"]
	path = vendor/gmock
	url = https://github.com/google/googlemock.git
	branch = master
